<html lang="en" th:replace="~{common/skeleton :: base(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
	<div class="container-fluid">
		<div class="row">
			<main class="col-md-12 ms-sm-auto px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
					<h1 class="h2">Global Score Cohorts</h1>
				</div>
				<div class="row">
					<div class="col-md-4" th:each="cohort : ${cohorts}">
						<div class="card mb-4 shadow-sm">
							<div class="card-body">
								<h5 class="card-title" th:text="${cohort.name}"></h5>
								<div class="card-text">
									<div th:if="${#maps.isEmpty(cohort.quizzesNameToAccomplishment)}">
										<p>No quiz assigned yet</p>
									</div>
									<ul class="list-group list-group-flush"
										th:if="${!#maps.isEmpty(cohort.quizzesNameToAccomplishment)}">
										<li class="list-group-item"
											th:each="entry : ${cohort.quizzesNameToAccomplishment}">
											<span th:text="${entry.key}"></span> :
											<span th:text="${entry.value} + '%'"></span>
										</li>
									</ul>
								</div>
								<div th:if="${!#maps.isEmpty(cohort.quizzesNameToAccomplishment)}">
									<a th:href="@{/cohort/scores/detail(id=${cohort.id})}"
										class="btn btn-primary mt-3">Details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</section>

</html>