<html lang="en" th:replace="~{common/skeleton :: base(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
	<div class="container">
		<div class="row justify-content-center">

			<div class="d-inline-flex justify-content-between mb-4 mt-2">
				<h2 class="text-center mb-0" th:text="${cohort.name}"></h2>
				<button type="button" class="btn btn-danger btn-sm">Delete</button>
			</div>

			<form method="post" th:action="@{/cohort/update(id=${cohort.id})}" th:object="${cohort}">
				<div class="border rounded p-4">
					<div class="mb-3">
						<label for="name" class="form-label mb-1">[[#{cohort.name}]]</label>
						<input type="text" id="name" class="form-control" th:field="*{name}">
						<div class="alert alert-danger mt-1 p-1 fst-italic fw-lighter"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
						</div>
					</div>

					<div class="mb-3">
						<label for="creation_date" class="form-label mb-1">[[#{cohort.creation.date}]]</label>
						<input type="text" id="creation_date" class="form-control" th:field="*{creationDate}" readonly
							disabled>
						<div class="alert alert-danger mt-1 p-1 fst-italic fw-lighter"
							th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}">
						</div>
					</div>

					<div class="mb-3">
						<label for="cohort_members" class="form-label mb-2">Cohort Members</label>
						<div id="cohort_members">
							<div th:each="user : ${users}" class="form-check">
								<input class="form-check-input" type="checkbox" th:field="*{members}"
									th:value="${user.mail}" th:checked="${#lists.contains(cohort.members, user.mail)}"
									id="${user.mail}">
								<label class="form-check-label" th:for="${user.mail}"
									th:text="${user.name + ' ' + user.firstname}"></label>
							</div>
						</div>
					</div>


					<input type="hidden" th:field="*{creationDate}">

					<div class="text-center">
						<button type="submit" class="btn btn-primary mt-4">Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

</html>