<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>[[#{index.title}]]</title>
</head>

<body>
	<div class="container">
		<h2 th:text="#{user.creation.form}"></h2>
		<form action='#' th:action="@{/register}" method='post' class="box" th:object="${userForm}">
			<div class="message is-danger" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></div>
			<div class="field">
				<label class="label">[[#{user.firstname}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{firstname}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
				</div>
			</div>
			<div class="field">
				<label class="label">[[#{user.name}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{name}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{user.email}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{email}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</div>
			</div>
			<div class="field">
				<label class="label">[[#{user.password}]]</label>
				<div class="control">
					<input class="input" type="password" th:field="*{password1}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">
				</div>
			</div>
			<div class="field">
				<label class="label">[[#{user.password2}]]</label>
				<div class="control">
					<input class="input" type="password" th:field="*{password2}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">
				</div>
			</div>
			<div class="field is-grouped">
				<div class="control">
					<button class="button is-link">Submit</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>