<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>[[#{index.title}]]</title>
</head>

<body>
	<main class="container">

		<h1 class="title">
			User id : [[${user.id}]]
		</h1>

		<div class="content">
			<table class="table">
				<tr>
					<th>[[#{user.firstname}]]</th>
					<td>[[${user.firstname}]]</td>
				</tr>
				<tr>
					<th>[[#{user.name}]]</th>
					<td>[[${user.name}]]</td>
				</tr>
				<tr>
					<th>[[#{user.email}]]</th>
					<td>[[${user.email}]]</td>
				</tr>
				<tr>
					<th>[[#{user.role}]]</th>
					<td>[[${user.role}]]</td>
				</tr>

			</table>
		</div>
	</main>
</body>

</html>