<!DOCTYPE html>
<html lang="en" th:replace="~{common/skeleton :: base(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
	<div class="container ms-4 mt-4">
		<div class="text-left">
			<div sec:authorize="hasRole('TEACHER')">
				<p><a href="#" class="link-offset-3" th:href="@{/quizzes/manage}">My Quizzes</a></p>
				<p><a href="#" class="link-offset-3" th:href="@{/cohorts/manage}">My Cohorts</a></p>
			</div>
			<div sec:authorize="hasRole('STUDENT')">
				<p><a href="#" class="link-offset-3" th:href="@{/quizzes/assigned}">Assigned Quizzes</a></p>
				<p><a href="#" class="link-offset-3" th:href="@{/teacher}">My Teacher</a></p>
			</div>
		</div>
	</div>
</section>

</html>