/* Style pour le conteneur de la carte de quiz */
.my-card-container {
    background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
}

/* Style pour le titre de la carte de quiz */
.my-card-title {
    background: linear-gradient(90deg, rgb(236, 242, 253) 0%, rgb(235, 239, 250) 100%);
    color: #6495ed;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.25rem; /* Taille de police réduite */
    font-weight: 500;
    text-align: center;
}

/* Ajout d'un style général pour les cartes */
.card {
    border: none;
    border-radius: 10px;
}

.card-body {
    padding: 15px;
}

.card-text {
    color: #555;
    font-style: italic;
}

/* Style pour le bouton */
.btn-primary {
    background-color: #6495ed;
    border: none;
}

.btn-primary:hover {
    background-color: #4682b4;
}
