<!DOCTYPE html>
<html lang="en" th:replace="~{common/skeleton :: base(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Active</th>
				<th scope="col">User</th>
				<th scope="col">Open date</th>
				<th scope="col">Close date</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="request: ${requests}">
				<td th:text="${request.id}"></td>
				<td th:text="${request.isActive}"></td>
				<td th:text="${request.user.shortDisplay()}"></td>
				<td th:text="${request.openDate}"></td>
				<td th:text="${request.closeDate}"></td>
				<td ><a th:if="${request.isActive == true}" href="#" th:href="@{/admin/role/request/grant/{requestId}(requestId=${request.id})}"
						role="button" class="btn btn-primary">Grant</a></td>
			</tr>
		</tbody>
	</table>
</section>